/*.fa {
  padding: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}*/

.my-5 {
	padding-top: 70px;
	padding-bottom: 70px;
}

h1 {
	margin-bottom: 30px;
	font-family: 'Bodoni Moda', serif;
}

h2 {
	font-family: 'Bodoni Moda', serif;
	margin-bottom: 20px;
}

/*h3*/
h3 {
  font-family: 'Bodoni Moda', serif;
  margin-bottom: 15px;
  margin-top:1em;
}

h4 {
  font-family: 'Bodoni Moda', serif;
  margin-bottom: 10px;
}

.ph-emphasis {
	font-family: 'Bodoni Moda', serif;
	font-size: 1.5em;
}

.ph-invisible {
	color: rgba(0, 0, 0, 0.0);
}

p {
  line-height: 2.5em;
}

.ph1, .ph2, .ph3, .ph4, .ph5, .ph6, .ph7, .ph8, .ph9, .ph10, .ph11, .ph12 {
  line-height: 1.5em;
}

.li-principios {
   line-height: 2.5em;
}

/* Smaller than medium */
@media (max-width: 767px) {

  .logo-abs {
    display: none;
  }
  
  .insta-zuhause{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3em;
  }
  .li-principios {
   line-height: 1.5em;
  }

}


#rotate180 {
	transform: rotate(180deg);
    -ms-transform: rotate(180deg);	 /*  for IE  */

    /* 	for browsers supporting webkit (such as chrome, firefox, safari etc.). */
    -webkit-transform: rotate(180deg);
    display: inline-block;
}

